body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.selectors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
}

select, #keywordSearch, #filterButton {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#clubList {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

#clubList li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#clubList a {
    text-decoration: none;
    color: #333;
}

.features {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}

/* 響應式設計 */
@media only screen and (max-width: 768px) {
    .selectors {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    select, #keywordSearch, #filterButton {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
    }

    ul {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    h1, h2 {
        font-size: 1.2em;
    }

    select, #keywordSearch, #filterButton {
        font-size: 0.9em;
    }

    li {
        font-size: 0.9em;
    }
}
